<div class="login">
    <h1>Bejelentkezés</h1>
        <mat-form-field> 
            <mat-label for="email">Email címe</mat-label>
            <input matInput type="text" id="email" [formControl]="email">
        </mat-form-field>
        <mat-form-field>
            <mat-label for="password" >Jelszó</mat-label>
            <input matInput type="password" id="password" [formControl]="password">
        </mat-form-field> 
            <button mat-raised-button (click)="login()">Bejelentkezés</button>
    </div> 
